*{
    margin: 0;
    /* padding: 0;*/
}
body{
    overflow: hidden;
    font-family:"OpenSans";
    letter-spacing: -1.2px;
      /* font-size: 17px;*/
}
a{ 
    text-decoration: none;
    color:#cecece;
}
nav{
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:  8bvh;
}
.logo {
    font-size: 2.2rem
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%
}
nav ul a {
transition: all 0.3s ease-in-out;
}
nav ul a:hover {
    background-color: #cecece;
    color: #212121;
    padding: 2px;
    border-radius:  5px;

}
.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 4px;
    background-color: #cecece
    transition: all 0.3s ease-in-out;
}


@media (max-width:  768px) {
    nav ul {
        position: fixed;
        right: 0;
        top: 8vh;
        background-color: #212121
        height: 92vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.2s ease-in-out;
    }
    .burger {
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
.tooggle .line1{
    transform:rotate(-45deg) translate(-4px, 6px)
}
.tooggle .line2{
    opacity: 0;
}
.tooggle .line3{
    transform:rotate(45deg) translate(-4px, -6px)
}
